[tool.commitizen]
version = "0.4.3"  # This should be your current semver version
branch = "main"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "rc"
prerelease = false


[tool.semantic_release.remote]
token = { env = "GH_TOKEN" }
