name: Test

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: environment

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: print sucess
        run: |
          echo "${{vars.project_name}} Success"
      
  
